
﻿
<div class="nav-scrollable" ></div>
    <nav class="nav flex-column"> </nav>
 5f5634fac5eec016aff3538d9f891ed0dfe0f147


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Fornecedor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Relatório de Estoque
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Cadastro de Produto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Vendas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Caixa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/relatorios">
                Relatorios
            </NavLink>
        </div>
﻿<div class="page">

    <main style="width:100%">
        <article class="content">
            
        </article>
    </main>


</div>