
﻿
<div class="nav-scrollable" ></div>
    <nav class="nav flex-column"> </nav>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/fornecedor">
                Fornecedor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/relatorio de estoque">
                Relatório de Estoque
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cadastro de produto">
                Cadastro de Produto
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/vendas">
                Vendas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/caixa">
                Caixa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/relatorios">
                Relatorios
            </NavLink>
        </div>
﻿<div class="page">

    <main style="width:100%">
        <article class="content">
            
        </article>
    </main>


</div>