h1 {
    text-align: center;
    color: #9d63ff;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    color: #9d63ff;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #0078d4;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover {
        background: #005fa3;
    }

h3 {
    color: #9d63ff;
    text-align: center;
    margin-top: 20px;
}

.btn-voltar {
    background: transparent;
    border: none;
    color: #5f6368;
    font-size: 35px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

    .btn-voltar:hover {
        background-color: #e8eaed;
    }

    .btn-voltar:active {
        background-color: #dadce0;
    }
