<!-- Página responsável pelo caixa -->
@page "/caixa"

<PageTitle>Controle de Caixa</PageTitle>

<div class="container-fluid">

    <h1 class="h3 fw-bold text-gray-800 mb-4">
        Controle de Caixa
    </h1>

    <div class="row">

        <!-- Exibe os produtos vendidos -->
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h5>Abertura do Caixa</h5>

                <label>Valor Inicial</label>
                <input class="form-control mb-3"
                       type="number" />

                <button class="btn btn-success">
                    Abrir Caixa
                </button>
            </div>
        </div>

        <!-- Calcula o valor total da compra -->
        <div class="col-md-4">
            <div class="card shadow p-3">
                <h5>Entradas</h5>
                <h2 class="text-success">
                    R$ 1.250,00
                </h2>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow p-3">
                <h5>Saídas</h5>
                <h2 class="text-danger">
                    R$ 150,00
                </h2>
            </div>
        </div>

    </div>
</div>