@page "/controleestoque"

<PageTitle>Controle de Estoque</PageTitle>

<h3>ControleEstoque</h3>

<div class="home-container">

    <div class="container">

        <h1>Controle de Estoque</h1>

        <div>
            <label>Código do Produto (SKU):</label><br />
            <input type="text" @bind="codigoProduto" />
        </div>

        <br />

        <div>
            <label>Nome do Produto:</label><br />
            <input type="text" @bind="nomeProduto" />
        </div>

        <br />

        <div>
            <label>Categoria:</label><br />
            <select @bind="categoria">
                <option value="">Selecione...</option>
                <option>Informática</option>
                <option>Cadernos e Blocos</option>
                <option>Escrita (Canetas/Lápis)</option>
                <option>Outros</option>
            </select>
        </div>

        <br />

        <div>
            <label>Preço de Custo (R$):</label><br />
            <input type="number" @bind="precoCusto" />
        </div>

        <br />

        <div>
            <label>Quantidade:</label><br />
            <input type="number" @bind="quantidade" />
        </div>

        <br />

        <div>
            <label>Estoque Mínimo:</label><br />
            <input type="number" @bind="estoqueMinimo" />
        </div>

        <br />

        <div>
            <label>Descrição/Fornecedor:</label><br />
            <textarea @bind="descricao"></textarea>
        </div>

        <br />

        <button @onclick="SalvarProduto">
            Salvar no Estoque
        </button>

        @if (!string.IsNullOrEmpty(mensagem))
        {
            <h3>@mensagem</h3>
        }

    </div>

</div>

@code {

    string codigoProduto = "";
    string nomeProduto = "";
    string categoria = "";
    decimal precoCusto;
    int quantidade;
    int estoqueMinimo;
    string descricao = "";
    string mensagem = "";

    void SalvarProduto()
    {
        mensagem = $"Produto '{nomeProduto}' adicionado ao estoque!";
    }

}