@page "/"

<PageTitle>Papelaria Admin</PageTitle>

<div class="home-container">

    <div class="banner-home">
        <div>
            <h1>Bem-vinda ao Sistema da Papelaria </h1>
            <p>
                Gerencie estoque, vendas, caixa e fornecedores
                de forma simples e organizada.
            </p>
        </div>
    </div>

    <!-- CARDS -->
    <div class="cards-home">

        <a href="/Controle de Estoque" class="card-home">
            <div class="icone-card"></div>

        <a href="/Registro de Vendas" class="card-home">
            <div class="icone-card"></div>
        </a>

        <a href="/caixa" class="card-home">
            <div class="icone-card"></div>
            <h2>Caixa</h2>
        </a>

        <a href="/fornecedor" class="card-home">
            <div class="icone-card"></div>
            <h2>Fornecedor</h2>
        </a>

    </div>

</div>