@page "/"

<PageTitle>Papelaria Admin</PageTitle>


<div class="text-center">
    <img src="Imagens/logop.png" alt="Logo da Papelaria" width="150" />
    <h1>Bem-vindo ao Sistema da Papelaria</h1>
</div>


<div class="home-container">

    <div class="banner-home">
        <div>
            <h1>Bem-vinda ao Sistema da Papelaria </h1>
            <p>
                Gerencie estoque, vendas, caixa e fornecedores
                de forma simples e organizada.
            </p>
        </div>
    </div>

    <!-- CARDS -->
    <div class="cards-home">

        <a href="/controleestoque" class="card-home">
            <div class="icone-card"></div>
            <h2> Controle de Estoque</h2>
        </a>

        <a href="/registrovendas" class="card-home">
            <div class="icone-card"></div>
            <h2> Controle de Vendas</h2>
        </a>

        <a href="/caixa" class="card-home">
            <div class="icone-card"></div>
            <h2>Caixa</h2>
        </a>

        <a href="/fornecedor" class="card-home">
            <div class="icone-card"></div>
            <h2>Fornecedor</h2>
        </a>


        <a href="/cadastroproduto" class="card-home">
            <div class="icone-card"></div>
            <h2>Cadastro de Produto</h2>
        </a>

        <a href="/Relatorios" class="card-home">
            <div class="icone-card"></div>
            <h2>Relatorios</h2>
        </a>

    </div>

</div>