<h3>Relatorios</h3>

@code {

}
@page "/relatorios"

<div class="relatorios-container" </div>
    <!-- RELATÓRIO DE ESTOQUE -->
    <div class="relatorio-card">
        <div class="relatorio-header">
            <h4>RELATÓRIO DE ESTOQUE</h4>
        </div>
        <table class="relatorio-table">
            <thead>
                <tr>
                    <th>PRODUTO</th>
                    <th>CATEGORIA</th>
                    <th>ESTOQUE INICIAL</th>
                    <th>ENTRADAS</th>
                    <th>SAÍDAS</th>
                    <th>ESTOQUE ATUAL</th>
                    <th>ESTOQUE MÍNIMO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Caneta azul</td>
                    <td>Canetas</td>
                    <td>50</td>
                    <td>20</td>
                    <td>60</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Caderno Tilibra 12 matérias</td>
                    <td>Cadernos</td>
                    <td>60</td>
                    <td>30</td>
                    <td>40</td>
                    <td>50</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- RELATÓRIO DE VENDAS -->
    <div class="relatorio-card">
        <div class="relatorio-header">
            <h4>RELATÓRIO DE VENDAS</h4>
        </div>
        <table class="relatorio-table">
            <thead>
                <tr>
                    <th>CLIENTE</th>
                    <th>TELEFONE</th>
                    <th>PRODUTO</th>
                    <th>QUANTIDADE</th>
                    <th>VALOR UNITÁRIO</th>
                    <th>DATA</th>
                    <th>VENDEDOR</th>
                    <th>VALOR TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Armando Santos</td>
                    <td>(66) 3010-7459</td>
                    <td>Caneta azul Bic 0.7</td>
                    <td>3</td>
                    <td>0,50R$</td>
                    <td>05/01/2026</td>
                    <td>Javier Costa</td>
                    <td>1,50 R$</td>
                </tr>
                <tr>
                    <td>Caderno Tilibra 12 matérias</td>
                    <td>(86) 3576-7739</td>
                    <td>Caderno Tilibra 12 matérias</td>
                    <td>2</td>
                    <td>10,00R$</td>
                    <td>06/01/2026</td>
                    <td>Fernanda Godoy</td>
                    <td>10,00 R$</td>
                </tr>
            </tbody>
        </table>
    </div>
